<p></b><a href="/">Home</a></p>

{{ if .is_fails }}
    <h4>Fails:</h4>
    {{ range .fails }}
        {{ range .Result }}
            <p>{{ . }}</p>
        {{ end }}
        <p>========================================================================</p>
        <p></p>
    {{ end }}
{{ end }}

{{ if .is_successes }}
    <h4>Successes:</h4>
    {{ range .successes }}
        {{ range .Result }}
            <p>{{ . }}</p>
        {{ end }}
        <p>========================================================================</p>
        <p></p>
    {{ end }}
{{ end }}
